
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: auto;
  margin-bottom: 20px;

}

.form__field {
  font-family: inherit;
  width: 350px;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#0B1727;
}

#root{
  display: flex;
  flex-direction: column;
  width:  100% ;
  height: 100vh;
}


.container{
  display: flex;
  flex-direction: column;
  background-color: #0B1727;
  width:  100% ;
  height: 100vh;
}

.bodycontainer{
  display: flex;
  flex-direction: row;
  width:  100% ;
  height: 100vh;
}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #0B1727;
}

.content{
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #121E2D;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  border-radius: 7px;
  height: fit-content;
  min-height: 950px;
  justify-content: space-between;
}


.button-50 {
  appearance: button;
  width: 150px;
  background-color: #10a89c;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 5px 10px 2px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button{
  width: 250px;
  height: 80px;
  border: none;
  outline: none;
  background: #0B1727;
  color: #9CA9BA;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: #0B1727 2px solid;
  padding: 5px;
}

.check-box{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.check-box svg{
  width: 40px;
  margin: 20px;
}

svg path{
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

.active{
  background: #0a9935;
  transition: 1s;
}

.reject{
  background: #da0909;
  transition: 1s;
}

.active .check-box{
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p{
  margin-right: 125px;
  transition: 1s;
}

.active svg path{
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}



.containerbox{
  padding: 10px;
  margin: 5px ;
  padding-left: 20px;
  padding-right: 20px;
  color: #D8E2EF;
  font-size: 15px;
  border-radius:15px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  /* background: #486e9f;  */
  border-color: #486e9f;
  border: 1.5px solid #486e9f;
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bc635', endColorstr='#c0ea67',GradientType=1 );  */
  display: flex;
  flex-direction: column;
  text-wrap:nowrap;
}


.newbutton{
  background-color: #162231;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  align-self: flex-end;
  justify-self: flex-end;
}

.title{
  color: #D8E2EF;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #162231;
  width: 100%;
  border-radius: 7px;
}

.taskList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.taskRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #162231;
  min-height: 128px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.taskRow::-webkit-scrollbar {
  width: 12px;
}

.taskRow::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.taskRow::-webkit-scrollbar-track {
  background-color: transparent;
}
.taskApp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #162231;
}

.taskAppID{
  margin-right: 20px;
  color: #D8E2EF;
  font-size: large;
  text-wrap: nowrap;
}

.header {
  position: relative; /* Ensure the parent has a non-static position */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  /* Other styles for your header */
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Other styles for your links */
}

.logo {
  margin: 20px;
  margin-left: 50px;
  width: 300px; /* Adjust the width as needed */
  /* Other styles for your logo */
}

.github {
  margin: 20px;
  width: 150px; /* Adjust the width as needed */
  /* Other styles for your logo */
}

.text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #CBD7E7;
  /* width: 150px; Adjust the width as needed */
  /* Other styles for your logo */
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d3962;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 20px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.number {
  color: #88AADD;
}

.task{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskProperties{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.star {
	align-items: center;
	background-color: #264036;
	display: flex;
	font-family: Roboto;
	font-size: 24px;
	height: 37px;
  width: 37px;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	transform: rotate(45deg);
	color: #BFD9CE;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.8);
  
	&::before, &::after {
		background-color: #264036;
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
	
	&::before {
		transform: rotate(30deg);
	}
	
	&::after {
		transform: rotate(60deg);
	}
}

.rotate-text {
  transform: rotate(-45deg);
}




/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


.button-int {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  /* padding: 12.5px 30px; */
  height: fit-content;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 0;
  border-radius: 25px;
  background-color: #0f5381;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button-int:hover {
  background-color: #2ba8fb;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button-int:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}